.container-new {
  margin: 3%;
}

.hero-part {
  margin-top: 4%;
}

th {
  padding-left: 0.6%;
}

.error {
  text-align: center;
  font-weight: 500;
  font-size: 150%;
  padding-top: 6%;
}

.actions {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 439px) {
    .actions {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .btn {
        margin-top: 20%;
    }
}